* {
  color-scheme: light;
  scrollbar-width: thin;
  scrollbar-color: #3DCAB1 #c8c8c8;
}

::selection {
  background: #6ee7d1;
}


body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #c8c8c8;
}

body::-webkit-scrollbar-thumb {
  background-color: #3DCAB1;
  border-radius: 2rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #36ad98;
  border-radius: 2rem;
}

body *::-webkit-scrollbar {
  width: .2rem;
}

body *::-webkit-scrollbar-track {
  background-color: #c8c8c8;
}

body *::-webkit-scrollbar-thumb {
  background-color: #3DCAB1;
  border-radius: 2rem;
}


body *::-webkit-scrollbar-thumb:hover {
  background-color: #36ad98;
  border-radius: 2rem;
}